<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>Servlets.registrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConfirmedServlet</servlet-name>
        <servlet-class>Servlets.RegistrationConfirmedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainScreenAfterLogInServlet</servlet-name>
        <servlet-class>Servlets.MainScreenAfterLogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInUserServlet</servlet-name>
        <servlet-class>Servlets.LogInUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>Servlets.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductsServlet</servlet-name>
        <servlet-class>Servlets.AllProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryCartServlet</servlet-name>
        <servlet-class>Servlets.CategoryCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <servlet-class>Servlets.DeleteCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>Servlets.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishPaymentServlet</servlet-name>
        <servlet-class>Servlets.FinishPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHistoryServlet</servlet-name>
        <servlet-class>Servlets.UserHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayWithPayPalServlet</servlet-name>
        <servlet-class>Servlets.PayWithPayPalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetUserServlet</servlet-name>
        <servlet-class>Servlets.AdminGetUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShoppingHistoryServlet</servlet-name>
        <servlet-class>Servlets.AdminShoppingHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAnonymousUserServlet</servlet-name>
        <servlet-class>AdminGetAnonymousUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetUserInfoServlet</servlet-name>
        <servlet-class>Servlets.AdminGetUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetShoppingsForDateServlet</servlet-name>
        <servlet-class>Servlets.AdminGetShoppingsForDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogInHistoryServlet</servlet-name>
        <servlet-class>Servlets.AdminLogInHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLogInForDateServlet</servlet-name>
        <servlet-class>Servlets.GetLogInForDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/registrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConfirmedServlet</servlet-name>
        <url-pattern>/RegistrationConfirmedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainScreenAfterLogInServlet</servlet-name>
        <url-pattern>/MainScreenAfterLogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInUserServlet</servlet-name>
        <url-pattern>/LogInUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/ProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductsServlet</servlet-name>
        <url-pattern>/AllProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryCartServlet</servlet-name>
        <url-pattern>/CategoryCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <url-pattern>/DeleteCartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishPaymentServlet</servlet-name>
        <url-pattern>/FinishPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHistoryServlet</servlet-name>
        <url-pattern>/UserHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayWithPayPalServlet</servlet-name>
        <url-pattern>/PayWithPayPalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetUserServlet</servlet-name>
        <url-pattern>/AdminGetUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShoppingHistoryServlet</servlet-name>
        <url-pattern>/AdminShoppingHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAnonymousUserServlet</servlet-name>
        <url-pattern>/AdminGetAnonymousUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetUserInfoServlet</servlet-name>
        <url-pattern>/AdminGetUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetShoppingsForDateServlet</servlet-name>
        <url-pattern>/AdminGetShoppingsForDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogInHistoryServlet</servlet-name>
        <url-pattern>/AdminLogInHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLogInForDateServlet</servlet-name>
        <url-pattern>/GetLogInForDateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>mainScreen.jsp</welcome-file>
    </welcome-file-list>
</web-app>
